html,body {
    font-family: 'Nunito', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 5px;
    width: auto;
}
.navbar-brand {
    height: 100px;
}

.navbar-inverse .navbar-nav>.active>a {
    color: #fff;
    background-color: #382208;
}

.nav >li >a {
    padding-top: 40px;
    padding-bottom: 40px;
}
.navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}
.carousel-caption {
    z-index: 10;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);  
    background-color: rgba(0, 0, 0, 0.5); 
}

body{
    /* background-color: #fbee7e ;  */ 
}

.page-header {
    padding-bottom: 0;
    border-bottom: 1px solid #6c4212;
}

.navbar-inverse {
    background-color: rgba(69, 42, 11, 0.82);
} 

#notepad #top {
    margin-left: 0px;
    width: 100%;
    height: 75px;
    position: relative;
    background: url(../img/design/note-top.png) no-repeat -1px 0;
    background-size: inherit;
}
#notepad #toptags {
    margin-left: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../img/design/note-top.png) -1px 0;
    background-size: inherit;
    padding-left: 38px;
    padding-top: 8px;
}

#notepad #body {
    resize: none;
    border: none;
    width: 100%;
    height: 100%;
    z-index: 99;
    border-color: transparent;
    padding-top: 4px;
    padding-left: 44px;
    padding-right: 30px;
    font-size: 16px;
    line-height: 22px;
    background: url(../img/design/note-bg.png) repeat-y -1px 0;
    background-size: inherit;
    outline: none;
    color: #222222;
    margin-bottom: -6px;
}

#notepad #top #title {
    position: absolute;
    top: 45px;
    left: 40px;
    height: 22px;
    padding: 5px 2px 1px 5px;
    background: none;
    border: none;
    width: 80%;
    font-weight: bold;
    font-size: 20px;
    color: #373737;
    text-shadow: #d7ca6d 1px 1px 2px;
    background-color: #d6c96d;
    background: url(../img/design/title-bg.png) repeat-x 0 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#note-buttons {
    margin: 10px;
    right: 18px;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-repeat: no-repeat;
}

#notepad {
    margin: 20px;

    padding: 0px;
    /*    border: 2px solid;
        border-color: black;
    */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 8px 10px 20px #4c4b4b;
}

.button-no-style {
    background: none !important; 
    color: green;    
    border: none;    
    padding: 0! important;    
    outline: inherit !important;
}


/* menu animado*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #666666;
    line-height: 1.5em;
    position: relative;
}
.navOpen {
    overflow: hidden;
}
.wrapper {
    transition-duration: 0.5s;
    transition-timing-function: swing;
    background-color: white;
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 100px 40px;
}
.wrapper.open {
    transform: translateX(250px) translateY(50px);
    -webkit-transform: translateX(250px) translateY(50px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}
.wrapper section {
    max-width:  730px;
    margin: 0 auto;
}
.wrapper section h1 {
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 10px;
}
.wrapper section h2 {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 40px;
}
.wrapper section p {
    margin-bottom: 40px;
}
.openNav {
    transition-duration: 0.5s;
    transition-timing-function: swing;
    width: 50px;
    height: 50px;
    background-color: #eab72f;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9;
}
.openNav:hover {
    cursor: pointer;
}
.openNav .icon {
    transition-duration: 0.2s;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: white;
    top: 24px;
    left: 10px;
}
.openNav .icon:before,
.openNav .icon:after {
    transition-duration: 0.5s;
    background-color: white;
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    left: 0px;
}
.openNav .icon:before {
    top: -7px;
}
.openNav .icon:after {
    top: 7px;
}
.openNav.open {
    transform: translateX(250px) translateY(50px);
    -webkit-transform: translateX(250px) translateY(50px);
}
.openNav.open .icon {
    background-color: transparent;
}
.openNav.open .icon:before,
.openNav.open .icon:after {
    top: 0;
}
.openNav.open .icon:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.openNav.open .icon:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
nav {
    /* background-color: #14B9FF;*/
    background-color: #fbee7e;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
nav ul {
    width: 250px;
    margin-top: 50px;
}
nav ul:hover li a  {
    /* color: rgba(255, 255, 255, 0.5); **/
    color: #7c3e0e;
}
nav ul li a:hover{
    transition-duration: 0.25s;
    font-size: 50px;
    display: block;
    padding: 5px 40px;
    color: black;
    letter-spacing: 0.02em;
    text-align: right;
}

nav ul li a{
    transition-duration: 0.25s;
    font-size: 20px;
    display: block;
    padding: 5px 40px;
    color: black;
    letter-spacing: 0.02em;
    text-align: right;
}
nav ul li a:link {
    text-decoration:none; 
}

nav ul li a {
    cursor: pointer;
    color: black;

}
